# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'.workspace .editor:not(.mini)':
  'cmd-shift-enter': 'layout-manager:maximize-active-pane'
  'cmd-alt-=': 'layout-manager:enlarge-active-pane'
  'cmd-alt--': 'layout-manager:shrink-active-pane'
  'cmd-ctrl-shift-right': 'layout-manager:move-pane-right'
  'cmd-ctrl-shift-left': 'layout-manager:move-pane-left'
  'cmd-ctrl-shift-down': 'layout-manager:move-pane-down'
  'cmd-ctrl-shift-up': 'layout-manager:move-pane-up'
